//@import 'breakpoint';

body {
  background-color: rgb(231, 173, 98);
  font-family: Tahoma, Geneva, sans-serif;
}

#search {
  text-align: center;
}

.wrapper {
  display: inline-block;
}

.show-heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: 20px;
  margin-right: 20px;
}

.item {
  background-color: rgb(235, 235, 235);
  height: 70px;
  margin: 5px;
  padding: 20px;
  width: 20%;
}

@media(min-width: 1024px) {
  .item {
    margin-left: 40px;
  }
}

@media(max-width: 1716px) {
  .item {
    margin-left: 0;
  }
}

@media(max-width: 1023px) {
  .item {
    background-color: red;
    width: 40%;
  }
}

@media(max-width: 767px) {
  .item {
    background-color: green;
    width: 100%;
  }
}
